.App {
  display: flex;
  justify-content: center;
}

.text {
  font-family: "JetBrains Mono", monospace;
  color: #fcfcfd;
  position: relative;
}

#text {
  font-size: 2rem;
}

#quote-box {
  width: 70%;
  box-shadow: #c38d9e 0px 5px 15px;
  background-color: #e8a87c;
  border-radius: 2%;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 2%;
}

#new-quote {
  margin-right: 1%;
}
