.App {
  display: flex;
  justify-content: center;
}

.text {
  font-family: "JetBrains Mono", monospace;
  color: #fcfcfd;
  position: relative;
  top: 5rem;
}

#text {
  font-size: 2rem;
}

#quote-box {
  width: 50rem;
  height: 20rem;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  box-shadow: #c38d9e 0px 5px 15px;
  background-color: #e8a87c;
  border-radius: 2%;
  text-align: center;
}

#new-quote {
  position: absolute;
  top: 15rem;
  left: 15rem;
}

#tweet-quote {
  position: absolute;
  top: 15rem;
  left: 25rem;
}
